<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-3 mb-3">

						<div th:if="${message}" th:classappend="${message.type}" class="alert alert-primary"
							role="alert">
							<p th:text="${message.content}"></p>
							<!--<th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
						</div>
						<div class="container text-center">
							<img src="" style="width: 50px;" th:src="@{/images/register.png}" alt="" />
						</div>

						<h1 class="text-center">
							Register Here!!
						</h1>

						<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
							<!--name field-->
							<div class="form-group">

								<label for="name_field">Your Name</label>

								<input name="name" class="form-control" id="name_field" aria-describedby="nameHelp"
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
									placeholder="Enter here" required th:value="${user.name}">
								<div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback">
								</div>
							</div>

							<!--email field-->
							<div class="form-group">

								<label for="email-field">Email</label>

								<input name="email" type="email" class="form-control" id="email-field"
									aria-describedby="emailHelp" placeholder="Enter here" required
									th:value="${user.email}">
							</div>

							<!--password field-->
							<div class="form-group">

								<label for="password-field">Password</label>

								<input name="password" type="password" class="form-control" id="password-field"
									aria-describedby="passwordHelp" placeholder="Enter here" required>
							</div>

							<!--user ab out field-->

							<div class="form-group">
								<textarea name="about" id="aboutText-field" rows="5" placeholder="Enter about yourself"
									class="form-control" th:text="${user.about}">
							</textarea>
							</div>

							<!--terms and condition check box-->

							<div class="form-group form-check">
								<input type="checkbox" name="agreement" class="form-check-input" id="agreement-field" />
								<label for="agreement-field">Accept terms and conditions</label>
							</div>

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">
									Submit
								</button>
								<button type="reset" class="btn btn-warning text-white">
									Reset
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>